<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- system_privilege表-->
<mapper namespace="ald.rc.dal.mapper.SystemPrivilegeMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="ald.rc.dal.bo.SystemPrivilege">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,gmt_create,gmt_modified,code,name,comment 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !=null and id !=''">
                id  = #{id,jdbcType=INTEGER}
            </if>
            <if test="gmtCreate != null and gmtCreate != ''">
                and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtModified != null and gmtModified != ''">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="code != null and code != ''">
                and code = #{code,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="comment != null and comment != ''">
                and comment = #{comment,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="ald.rc.dal.bo.SystemPrivilege">
        insert into system_privilege(gmt_create,gmt_modified,code,name,comment)values(#{gmtCreate,jdbcType=TIMESTAMP},#{gmtModified,jdbcType=TIMESTAMP},#{code,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{comment,jdbcType=VARCHAR})
    </insert>

    
    <insert id="saveRecord" parameterType="ald.rc.dal.bo.SystemPrivilege" keyProperty="id">
    	<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID()
	    </selectKey>
    
        insert into system_privilege
        <trim prefix="(" suffix=")" suffixOverrides="," >
	        <if test="gmtCreate != null">        
	            gmt_create,
	        </if>
	        <if test="gmtModified != null">        
	            gmt_modified,
	        </if>
	        <if test="code != null">        
	            code,
	        </if>
	        <if test="name != null">        
	            name,
	        </if>
	        <if test="comment != null">        
	            comment,
	        </if>
        </trim>
        
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="gmtCreate != null" >
		       #{gmtCreate,jdbcType=TIMESTAMP},
		    </if>
		    <if test="gmtModified != null" >
		       #{gmtModified,jdbcType=TIMESTAMP},
		    </if>
		    <if test="code != null" >
		       #{code,jdbcType=VARCHAR},
		    </if>
		    <if test="name != null" >
		       #{name,jdbcType=VARCHAR},
		    </if>
		    <if test="comment != null" >
		       #{comment,jdbcType=VARCHAR},
		    </if>
        </trim>
    </insert>
    
    
    <update id="update" parameterType="ald.rc.dal.domain.SystemPrivilege">
        update system_privilege set 
            gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},

            gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},

            code = #{code,jdbcType=VARCHAR},

            name = #{name,jdbcType=VARCHAR},

            comment = #{comment,jdbcType=VARCHAR}

        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update system_privilege
          <set>
            <if test="gmtCreate != null and gmtCreate != '' ">        
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
                
            </if>
            <if test="gmtModified != null and gmtModified != '' ">        
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
                
            </if>
            <if test="code != null and code != '' ">        
                code = #{code,jdbcType=VARCHAR},
                
            </if>
            <if test="name != null and name != '' ">        
                name = #{name,jdbcType=VARCHAR},
                
            </if>
            <if test="comment != null and comment != '' ">        
                comment = #{comment,jdbcType=VARCHAR}
                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from system_privilege
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from system_privilege
        <include refid="searchBy"/> 
        limit 0,1
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from system_privilege
        <include refid="searchBy"/>
    </select>
    
</mapper>
